* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* genercis */
.container {
    max-width: 980px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.black-border {
    border: 1px dashed black;
}

li {
    list-style-type:
        none;
}

.bg-grey {
    background-color: lightgrey;
}

/* header */

header {
    min-height: 80px;
    background-color: aqua;
    padding: 20px 0;

}

.center-nav {
    flex-grow: 1;
    min-height: 40px;
    background-color: orange;
    padding: 8px 0;
}

.left-nav {
    width: 200px;
    min-height: 40px;
    background-color: orange;
    align-items: center;

}

.right-nav {
    width: 200px;
    min-height: 40px;
    background-color: orange;
    align-items: center;
    justify-content: flex-end;
}

.header-link {
    justify-content: center;
    justify-content: space-evenly;
}

/* buttons-section */

.buttons-section {
    min-height: 400px;
    background-color: blue;
    padding: 60px 0;
}

.header-buttons {
    min-height: 340px;
    background-color: pink;
    width: 500px;
}

/* first-section */

.inside-section {
    min-height: 400px;
    padding: 50px 0;
}

.image-left {
    height: 400px;
    width: 60%;
    background-color: lightblue;
}

.text-right {
    height: 400px;
    width: 40%;
    background-color: pink;
}

/* fourth-section */

.fourth-section {
    min-height: 700px;
    padding: 50px 0;

}

.main-box {
    height: 700px;
    background-color: green;
}